*{
    box-sizing: border-box;
}


.button-group {
    display: flex;
    gap:5px;
}


.button-group button{
    background-color: rgb(2, 2, 56);
    border-radius: 5px;
    color:rgb(35, 169, 252);
    padding: 5px 10px;
    border: 2px solid rgb(35, 169, 252);
    flex:1;
}

.button-group button:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.button-group button:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
