.inline{
    background-color: red;
}

.block{
    background-color: blue;
}

.in-bl{
    background-color: yellow;
    display: inline-block;
    height: 100px;
    padding: 30px;
}

.hidden{
    display: none;
}