body{
    padding: 0;
    margin:0;
}

.container{
    display: flex;
    background-color: aqua;
    height: 100vh;
    width:300px;
}


.box{
    background-color: aquamarine;
    height: 50px;
}


.box1{
    flex:0 1 100px;
    background-color: red;
}

.box2{
    flex:0 5 400px;
    background-color: blue;
}

.box3{
    flex:0 1 50px;
    background-color: yellow;
}

.box4{
    flex:0 1 70px;
    background-color: green;
}