:root {
  --purple: #f37a48;
  --acaii: #f9bda4;
}

* {
  font-family: "Roboto", sans-serif;
}
ul.menu {
  margin-left: 0;
  margin-right: auto;
  list-style-type: "🔸";
  padding-left: 1.3rem;
  margin-block-start: 1rem;
  /*  list-style-position: outside; */
}

a.link:hover {
  background-color: var(--purple);
  color: white;
}
nav.menu {
  background-color: var(--acaii);
  width: 20%;
}

a.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a.link:visited {
  color: black;
}
li.item {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
/* a.link,
li.item {
aynı anda iki selectore değişiklik yapılabilir
} */
