.block-inline{
    background-color: red;
    text-align: center;
}

.block-inline b{
    background-color: rgb(58, 64, 231);
}



.block-block{
    margin-top: 50px;
    background-color: blueviolet;
    text-align: center;
}

.block-block div{
    background-color: chartreuse;
    width: 100px;
    margin: auto;
}